<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common/head :: head_fragment(title = 'ユーザー情報編集', scripts = ~{::script}, links = ~{::link})"><head>
	<meta charset="UTF-8">
	<title>User Information</title>
	<link rel="stylesheet" href="user.css">
</head>
<body>
	<h1>ユーザー情報編集</h1>
	<div class="container">
		<form th:action="@{/user/update}" th:object="${userUpdateRequest}" th:method="post">
			<div class="form-group">
				<label for="username">ユーザーネーム</label>
				<input type="text" id="username" name="username" value="John Doe">
			</div>
			
			<div class="form-group">
				<label for="email">メールアドレス</label>
				<input type="email" id="email" name="email" value="johndoe@example.com">
			</div>
			<div class="form-group">
				<label for="password">パスワード</label>
				<input type="password" id="password" name="password" value="password123">
			</div>
			
			
			<div class="form-actions">
				<button type="button" class="back-button" onclick="goBack()">戻る</button>
				<button type="button" class="delete-button" onclick="confirmDelete()">削除</button>
				<input type="submit" value="保存">
			</div>
		</form>
	</div>
	<script src="user.js"></script>
</body>
</html>